{% extends 'courier/base.html' %}
{% load static %}

{% block head %}

<style>
    .photo {
        object-fit: cover;
    }
    .photo-blank {
        border: 2px dashed #DFDFDF;
        height: 130px;
        width: 130px;
        border-radius: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
</style>
{% endblock %}
{% load static %}
{% block content %}
<div class="container bg-light mt-4 pt-3 pb-3">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center">
          <img src="{% if job.customer.avatar %}{{ job.customer.avatar.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="" class="rounded-circle mb-2" width="100" height="100">
          <h4>{{ job.customer.user.get_full_name }}</h4>
          <p class="text-secondary">{{ job.customer.user.email }}</p>
        </div>
        <!-- <div class="list-group mt-5">
          <a href="#" class="list-group-item list-group-item-action ">Create a Job</a>
          <a href="#" class="list-group-item list-group-item-action ">My Jobs</a>
          <a href="#" class="list-group-item list-group-item-action ">Profile Information</a>
          <a href="#" class="list-group-item list-group-item-action ">Payment Method</a>
        </div> -->
      </div>
      <div class="col-lg-8">
{% endblock %}

{% block main %}
<!-- JOB DESCRIPTION -->

<div class="media mb-4">
    <img src="{{ job.photo.url }}" class="rounded-lg mr-3" width="150" height="150">
    <div class="media-body">

        <!-- {% if job.status == 'processing' %}
        <form method="POST" class="float-right">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Cancel Job</button>
        </form>
        {% endif %} -->

        <h4>{{ job.name }}</h4>
        <p class="text-secondary">{{ job.description }}</p>
        <div class="row">
            <div class="col-lg-3">
                <small class="text-secondary">CATEGORY</small>
                <span><b>{{ job.category.name }}</b></span>
            </div>
            <div class="col-lg-3">
                <small class="text-secondary">SIZE</small>
                <span><b>{{ job.get_size_display }}</b></span>
            </div>
            <div class="col-lg-3">
                <small class="text-secondary">PRICE</small>
                <span><b>Rs 150</b></span> <!-- {{ job.price }}-->
            </div>
            <div class="col-lg-3">
                <small class="text-secondary">QUANTITY</small>
                <span><b>{{ job.quantity }}</b></span>
            </div>
        </div>
    </div>

</div>

<!-- DELIVERY INFROMATION -->

<b class="text-secondary">DELIVERY INFORMATION</b> <br/>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body p-4">
        <h4 class="mb-3">
            Pickup
        </h4>
        <div class="row">
            <div class="col-lg-4">
                <b>Address</b> <br/>
            <span>{{ job.pickup_address }}</span>
            </div>
        
            <div class="col-lg-4">
                <b>{{ job.pickup_name }}</b> <br/>
            <span>{{ job.pickup_phone }}</span>
            </div>
            <div  id="pickup_photo" class="col-lg-4">
                {% if job.pickup_photo %}
                    <img src="{{ job.pickup_photo.url }}" class="rounded-lg photo" height="130" width="130">
                {% else %}
                    <div class="photo-blank">Pickup photo will appear here</div>
                {% endif %}
            </div>

        </div>

        <hr class="my-4"/>
        <h4 class="mb-3">
            Delivery
        </h4>
        <div class="row">
            <div class="col-lg-4">
                <b>Address</b> <br/>
            <span>{{ job.delivery_address }}</span>
            </div>
        
            <div class="col-lg-4">
                <b>{{ job.delivery_name }}</b> <br/>
            <span>{{ job.delivery_phone }}</span>
            </div>
            <div  id="delivery_photo" class="col-lg-4">
                {% if job.delivery_photo %}
                    <img src="{{ job.delivery_photo.url }}" class="rounded-lg photo" height="130" width="130">
                {% else %}
                    <div class="photo-blank">Delivery photo will appear here</div>
                {% endif %}
            </div>

        </div>

    </div>
    {% if job.status == Job.PROCESSING_STATUS %}
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-warning btn-block">Accept This Job</button>
    </form>
    {% else %}
    <a href="{% url 'courier:current_job_take_photo' job.id %}" class="btn btn-block btn-warning btn-md mt-2">
        Pickup
      </a>
    {% endif %}
</div>

{% include 'courier/bottom_tabs.html' %}
<!-- Map and tracking to be added here -->

{% endblock %}